{% extends 'curso/base.html' %}
{% block content %}
<div class="container">
  <h1>Lista de Clase <a href="#" class="btn btn-success">Nuevo</a></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for profesor in profesores %}
          <tr class="table-active">
            <th>{{profesor.nombre}}</th>
            <th>{{profesor.telefono}}</th>
            <th>{{profesor.direccion}}</th>
            <th>{{profesor.correo}}</th>
            <th>{{profesor.fecha_nacimiento}}</th>
            <th>
              <a href="#" class="bt btn-warning"><span class="glyphicon glyphicon-info-sign"></span>Detalle</a>
              <a href="#" class="bt btn-info"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
              <a href="#" class="bt btn-danger"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}
